package {{ basePackage }}.biz.sample.controller;

import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.RestController;

/**
 * 拦截器示例:
 * 场景: 要访问这个controller 需要输入正确的姓名, 姓名有误就会被拦截器拦截
 */
@RestController
public class SecretController {

    @GetMapping("/secret")
    public String secret() {
        return "《降龙十八掌》";
    }
}