package {{ basePackage }}.biz.sys.mapper;

import {{ basePackage }}.biz.sys.entity.User;
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.springframework.stereotype.Repository;

@Repository
public interface UserMapper extends BaseMapper<User> {
}
