package {{ basePackage }}.biz.sys.mapper;

import {{ basePackage }}.biz.sys.entity.TDict;
import com.baomidou.mybatisplus.core.mapper.BaseMapper;

public interface TDictMapper extends BaseMapper<TDict> {

}
