package {{ basePackage }}.biz.sample.controller.headers;

import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.ResponseBody;

@Controller
public class HeaderController {
    // headers必须要带上action=save才能访问
    @ResponseBody
    @GetMapping(value = "/header", headers = "action=save")
    public String demo() {
        return "请求成功";
    }
}