package {{ basePackage }}.biz.sys.request;

import {{ basePackage }}.base.request.PageRequest;

public class DictRequest extends PageRequest {

    private String id;

    public String getId() {
        return id;
    }

    public void setId(String id) {
        this.id = id;
    }
}
