package {{ basePackage }}.common.constant;

public class Constant {

    public static final class Page {
        public static final int DEFAULT_CURRENT = 1;
        public static final int DEFAULT_PAGE_SIZE = 10;
    }

    public static class Response {
        public static final String SUCCESS_CODE = "0";
        public static final String ERROR_CODE = "999";
        public static final String SUCCESS_MESSAGE = "成功";
        public static final String ERROR_MESSAGE = "失败";
        public static final String ERROR_EXCEPTION = "服务异常";
        public static final String FORBIDDEN_MESSAGE = "权限不足";
    }

    public static final class Jwt {
        public static final String SECRET = "{{ passphrase(43, punctuation=True) }}";
    }

}
